.youtube{
    width: 20rem;
    margin-left: -5rem;
}
.youtubeHome{
    background-color: aliceblue;
    overflow-x: hidden !important;
  overflow: hidden !important; 
  /* overflow-y: hidden !important; */
}
.youImage{
    width: 50rem;
}
    
    .youtube-container {
    padding-top: 0px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 100;
    }
    
    .youtube-container iframe,
    .youtube-container object,
    .youtube-container embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    }
    @media screen and (max-width: 480px) {
        .youImage{
            display: none;
        }
        .youtube{
            width: 20rem;
            margin-left: 0rem;
        } 
      }