.navLink:hover{
    border-bottom:1px solid red !important;
}
.navFont{
    color: black !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}
.navMargin{
    position: absolute;
    right: 5rem;
}
@media screen and (max-width: 480px) {
    .navFont{
        color: orangered !important;
        font-weight: bold !important;
        font-size: 1.2rem !important;
    }
    .navMargin{
        position: absolute;
        right: 3rem;
        top: 2rem;
    }
  }